<!DOCTYPE html>
<html ng-app="demo">
<head>
  <meta charset="utf-8">
  <title>Nouvelle Déclaration</title>

  <!-- PatternFly Styles -->
  <link rel="stylesheet" href="node_modules/patternfly/dist/css/patternfly.min.css">
  <link rel="stylesheet" href="node_modules/patternfly/dist/css/patternfly-additions.min.css">

  <!-- Bootstrap base + PatternFly extensions + Your styles -->
  <!-- <link rel="stylesheet" href="css/mystyles.css"> -->

  <!-- JS -->
  <script src="node_modules/patternfly/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/patternfly/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/patternfly/dist/js/patternfly.min.js"></script>

  <!-- C3, D3 - Charting Libraries -->
  <script src="node_modules/patternfly/node_modules/d3/d3.min.js"></script>
  <script src="node_modules/patternfly/node_modules/c3/c3.min.js"></script>

  <script src="node_modules/patternfly/node_modules/jquery-match-height/dist/jquery.matchHeight-min.js"></script>

  <script src="node_modules/patternfly/node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/patternfly/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/patternfly/node_modules/bootstrap-select/dist/js/bootstrap-select.js"></script>
  <script src="http://www.patternfly.org/angular-patternfly/grunt-scripts/jquery-ui.js"></script>
  <script src="node_modules/patternfly/node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="node_modules/patternfly/node_modules/datatables.net-select/js/dataTables.select.js"></script>
  <script src="node_modules/patternfly/node_modules/moment/moment.js"></script>
  <!--
  <script src="http://www.patternfly.org/angular-patternfly/grunt-scripts/d3.js"></script>
  <script src="http://www.patternfly.org/angular-patternfly/grunt-scripts/c3.js"></script>
  -->
  <script src="node_modules/patternfly/dist/js/patternfly-settings.js"></script>
  <script src="node_modules/patternfly/dist/js/patternfly-settings-colors.js"></script>
  <script src="node_modules/patternfly/dist/js/patternfly-settings-charts.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <!--
  <script src="http://www.patternfly.org/angular-patternfly/grunt-scripts/angular-dragdrop.js"></script>
  --> 
  <script src="node_modules/angularjs-datatables/dist/angular-datatables.js"></script>
  <script src="node_modules/angularjs-datatables/dist/plugins/select/angular-datatables.select.min.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <!--
  <script src="http://www.patternfly.org/angular-patternfly/grunt-scripts/angular-bootstrap-prettify.js"></script>
  -->
  <script src="node_modules/lodash/lodash.min.js"></script>
  <script src="node_modules/angular-patternfly/dist/angular-patternfly.js"></script>
  <script src="node_modules/angularjs-datatables/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>

  <script src="config/config.js"></script>
  <script src="kogitoClient.js"></script>


</head>

<body class="cards-pf">
<!-- PatternFly Horizontal Nav -->
<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="img/kogito.png" alt="Kogito Loan Bank" />
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-utility">
        <li>
          <a href="#">Utilisateur</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-user"></span>
            Mourad Ouachani <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Another link</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">More options</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Link</a>
                </li>
                <li>
                  <a href="#">Another link</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-primary">
        <li>
          <a href="#">Acceuil</a>
        </li>
        <li class="active">
          <a href="#">Simulation Crédit</a>
        </li>
        <li>
          <!-- <a href="#">Decision Service Regression Testing</a> -->
        </li>
        <li>
          <!-- <a href="#">Decision Service Impact Testing</a> -->
        </li>
      </ul>
    </div>
  </nav>


  <div ng-controller="call-dmn" class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">

      <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- Aggregated status card -->

      </div> <!-- /col -->

      <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- Aggregated status card -->

      </div><!-- /col -->

      <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- Aggregated status card -->

      </div><!-- /col -->

      <div class="col-xs-6 col-sm-4 col-md-2">
       <!-- Aggregated status card -->

      </div><!-- /col -->

      <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- Aggregated status card -->
      </div><!-- /col -->

      <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- Aggregated status card -->
      </div><!-- /col -->

      <div class="col-xs-12 col-md-8">

          <div class="card-pf card-pf-utilization">
              <div class="card-pf-heading">
                <p class="card-pf-heading-details"></p>
                <h2 class="right-aligned_all-fields-required">
                  Information Projet
                </h2>
              </div>
        <!-- Utilization Trend Card -->
        <div class="card-pf-body">
      <form class="form-horizontal" role="form">
        <br />
        <h3 id="right-aligned_all-fields-required">Informations Entrprise</h3>
        <div class="form-group">
          <label for="selectSirene" class="col-sm-2 control-label">Numéro de SIREN</label>
          <div class="col-sm-3">
          <select class="form-control" ng-model="contrepartie.siren" id="siren" required>
            <option label="5310Z">5310Z</option>
            <option label="6411Z">6411Z</option>
            <option label="6419Z">6419Z</option>
            <option label="6420Z">6420Z</option>
            <option label="6430Z">6491Z</option>
            <option label="1011Z">1011Z</option>
            <option label="1012Z">1012Z</option>
            <option label="1013A">1013A</option>
            <option label="1013B">1013B</option>
            <option label="1020Z">1020Z</option>
            <option label="4321A">4321A</option>
            <option label="4321B">4321B</option>
            <option label="4322A">4322A</option>
            <option label="4322B">4322B</option>
            <option label="4329A">4329A</option>
          </select>
          </div>
        </div>
        
        <h3 id="right-aligned_all-fields-required">Informations Bilan</h3>
        <div class="form-group">
          <label for="inputgg" class="col-sm-2 control-label">GG</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.gg" class="form-control" id="gg" placeholder="10">
          </div>
        </div>
        <div class="form-group">
          <label for="inputga" class="col-sm-2 control-label">GA</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.ga" class="form-control" id="ga" placeholder="20">
          </div>
        </div>
        <div class="form-group">
          <label for="inputhp" class="col-sm-2 control-label">HP</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.hp" class="form-control" id="hp" placeholder="30">
          </div>
        </div>
        <div class="form-group">
          <label for="inputhq" class="col-sm-2 control-label">HQ</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.hq" class="form-control" id="hq" placeholder="40">
          </div>
        </div>
        <div class="form-group">
          <label for="inputfl" class="col-sm-2 control-label">FL</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.fl" class="form-control" id="fl" placeholder="50">
          </div>
        </div>
        <div class="form-group">
          <label for="inputfm" class="col-sm-2 control-label">FM</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.fm" class="form-control" id="fm" placeholder="6">
          </div>
        </div>
        <div class="form-group">
          <label for="inputhn" class="col-sm-2 control-label">HN</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.hn" class="form-control" id="hn" placeholder="3">
          </div>
        </div>
        <div class="form-group">
          <label for="inputgg1" class="col-sm-2 control-label">GG1</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.gg1" class="form-control" id="gg1" placeholder="4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputga1" class="col-sm-2 control-label">GA1</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.ga1" class="form-control" id="ga1" placeholder="16">
          </div>
        </div>
        <div class="form-group">
          <label for="inputhp1" class="col-sm-2 control-label">HP1</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.hp1" class="form-control" id="hp1" placeholder="12">
          </div>
        </div>
        <div class="form-group">
          <label for="inputhq1" class="col-sm-2 control-label">HQ1</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.hq1" class="form-control" id="hq1" placeholder="3">
          </div>
        </div>
        <div class="form-group">
          <label for="inputfl1" class="col-sm-2 control-label">FL1</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.fl1" class="form-control" id="fl1" placeholder="2">
          </div>
        </div>
        <div class="form-group">
          <label for="inputfm1" class="col-sm-2 control-label">FM1</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.fm1" class="form-control" id="fm1" placeholder="1">
          </div>
        </div>


        <div class="form-group">
          <label for="inputfl2" class="col-sm-2 control-label">FL2</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.fl2" class="form-control" id="fl2" placeholder="7">
          </div>
        </div>

        <div class="form-group">
          <label for="inputfm2" class="col-sm-2 control-label">FM2</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.fm2" class="form-control" id="fm2" placeholder="5">
          </div>
        </div>
        <div class="form-group">
          <label for="inputga2" class="col-sm-2 control-label">GA2</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.ga2" class="form-control" id="ga2" placeholder="2">
          </div>
        </div>
        <div class="form-group">
          <label for="inputhn2" class="col-sm-2 control-label">HN2</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.hn2" class="form-control" id="hn2" placeholder="34">
          </div>
        </div>

        <div class="form-group">
          <label for="inputdl" class="col-sm-2 control-label">DL</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.dl" class="form-control" id="dl" placeholder="5">
          </div>
        </div>

        <div class="form-group">
          <label for="inputee" class="col-sm-2 control-label">EE</label>
          <div class="col-sm-3">
            <input type="text" ng-model="bilan.ee" class="form-control" id="ee" placeholder="5">
          </div>
        </div>


   
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click="startProcess()" class="btn btn-default">Soumettre</button>
          </div>
        </div>
      </div>
      </form>
      </div>
      </div><!-- /col -->
      <div class="col-xs-12 col-md-4">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              <b>Résultat</b>
            </h2>
          </div>
          <div>
              <div>
                <h5 class="card-title"><strong>Version</strong></h5>
                <p class="card-text" style="padding-left: 30px">{{version}}</p>
              </div>
              <div>
                <h5 class="card-title"><strong>Notation</strong></h5>
                <p class="card-text" style="padding-left: 30px" ng-repeat="note in notation track by $index">{{note}}</p>
              </div>
              <div>
                <h5 class="card-title"><strong>Variables</strong></h5>
                <table class="table" style="margin-bottom: 10px">
                  <thead>
                    <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Valeur</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="var in variables track by $index">
                      <td>{{var.type}}</td>
                      <td>{{var.valeur}}</td>
                      <td>{{var.score}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <h5 class="card-title"><strong>Règles</strong></h5>
                <p class="card-text" style="padding-left: 30px" ng-repeat="rule in rules track by $index">{{rule}}</p>
              </div>
              <div><h5 class="card-title" style="padding-bottom: 10px;"><strong>Temps d'execution {{msgTime}} ms</strong></h5></div>
          </div>
        </div><!-- /row -->
  </div><!-- /container -->

      <!--div class="col-xs-12 col-md-4" style="{{displayResults}}">
        <div class="card-pf">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">
              <b>Résultat</b>
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="progress-description" ng-repeat="message in applicationResultMessages track by $index" >
                {{message}}
            </div>
          </div>
        </div>
    </div>
  </div><!-- /container -->
</body>
</html>
